#app {
  position: relative;
  background: url("../../assets/bg/bg-middle.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;

  .wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;
    box-shadow: 0.3rem 0.3rem 1rem #000;
    border-radius: 0.7rem;
    overflow: hidden;

    .side {
      background: url("../../assets/bg/bg-left.jpg") no-repeat;
      background-size: cover;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
        width: 6rem;
        margin: 0 1rem;
        writing-mode: vertical-lr;
        cursor: pointer;

        span {
          position: relative;
          font-size: 4rem;
          z-index: 1;
        }

        &:hover {
          &:after {
            //filter: drop-shadow(0.5rem 0.5rem 1rem #ff0000);
          }
        }

        &:after {
          position: absolute;
          content: '';
          height: 6rem;
          width: 20rem;
          background: url("../../assets/bg/btn1.png") no-repeat center center;
          background-size: cover;
          z-index: 0;
          transform: rotate(90deg);
          filter: drop-shadow(0.5rem 0.5rem 1rem #000);
          transition: filter 0.3s;
        }
      }
    }
  }

  .content {
    position: relative;
    flex: 1;
    height: 100%;
    background: url("../../assets/bg/bg-top.jpg") no-repeat center center;
    background-size: cover;

    .exhibits {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      width: 100%;

      .info {
        position: absolute;
        top: 3rem;
        left: 3rem;

        div {
          font-size: 2.3rem;
          margin-bottom: 1.5rem;
        }
      }

      .btn-group {
        position: absolute;
        right: 3rem;
        top: 3rem;

        .btn {
          font-size: 2.3rem;
          padding: 1.5rem;
          cursor: pointer;
          background: url("../../assets/bg/btn2.png") no-repeat center center;
          background-size: contain;
          margin-bottom: 1rem;
          border-radius: 100%;
          transition: box-shadow 0.3s;

          &:hover {
            box-shadow: 0 0 1rem #7aa567;
          }
        }
      }

      img {
        position: relative;
        margin-top: 5%;
        height: 40%;
        width: 40%;
        object-fit: contain;
        margin-bottom: 2rem;
        filter: drop-shadow(0.5rem 0.5rem 1rem #000);
      }

      .title {
        position: relative;
        font-size: 3.5rem;
      }
    }

    .edit-form {
      padding: 1.5rem;

      .line {
        display: flex;
        align-items: center;
        gap: 1rem;
      }

      textarea {
        width: calc(100% - 2rem);
        margin: 0 1rem;
        resize: none;
      }
    }

    .edit-image {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 2rem;
      width: 100%;
      height: 100%;

      img {
        object-fit: contain;
        width: 15rem;
        height: 15rem;
      }

      .bottom {
        display: flex;
        gap: 2rem;
      }
    }
  }
}
